/**
 * GResume Interactive Google Resume
 * http://go/gresume
 */

html {
  padding: 2em 4em;
}

body {
  color: #484848;
  font: 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.name-card {
  text-align: right;
  float: right;
}

h2.google-logo {
  font-size: 2em;
}

h1 {
  font-size: 1.8em;
  margin: 0 0 5px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  color: #061224;
  font-weight: 500;
  clear: left;
  line-height: 2em;
}

h1 em {
    color: #284265;
    font-style: normal;
}

h2 {
    font-size: 1.4em;
    margin: 0 0 5px;
    color: #020f1c;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-weight: 500;
    clear: left;
    line-height: 1.8em;
}

h2 em {
  font-style: normal;
  font-size: 0.9em;
  color: #333;
  margin-left: 12px;
}

h3 {
    font-size: 1.2em;
    margin: 0 0 5px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #191919;
    line-height: 1.4em;
}

h4 {
    font-size: 1em;
    margin: 0 0 5px;
    font-weight: bold;
    color: #191919;
}


.blue {
  color: #0087F7;
}

.red {
  color: #E3182D;
}

.yellow {
  color: #FFDF00;
}

.green {
  color: #12A326;
}

.boxes {
  display: none;
}

.sections {
  clear: both;
  padding-top: 20px;
  font-size: 0.9em;
  color: #000;
  line-height: 1.3em;
}

.section {
  clear: both;
  margin-bottom: 40px;
}

.section .content {
  margin-left: 1em;
}

p {
  margin: 10px 0;
}

ul {
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 4px;
}

.details > li {
  margin-left: 1em;
}

.details li > div {
  padding-left: 2em;
}

.portfolio .details-container {
  display: none;
}

.portfolio li {
  text-align: center;
  width: 33%;
  margin-bottom: 20px;
  float: left;
}

.footer {
  display: none;
}
